body {
    margin: 0px;
    background-image: url("image.jpg");
}

.adjust_title {
    white-space: pre;
    background-color: blueviolet;
    padding: 15px;
    margin-top: 0px;
    margin-left: -8px;
    position: relative;
}

.heading_title {
    margin-left: 132px;
}

.move_text_down {
    margin-bottom: -80px;
}

.grid_height {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.grid_one_column {
    background: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    height: 300px;
}

.grid_two_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 40px auto;
}

.change_paragraph_value_temp {
    margin-left: 80px;
}

.change_paragraph_value_humi {
    margin-left: 82px;
}


.container-display {
  display: flex;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}